@media screen and (min-width :700px) {
   .links{
       width: 100%;
   }
   .figures{
       width: 100%;
       margin: 0px;
   }
   
}
.header{
    background-color:lightskyblue;
    margin-bottom: 0px;
}
div {
    text-align: center;
}
.figures{
    float: right;
    margin-right: 250px;
}
