<ul class="navbar navbar-expand-lg navbar-light header">
    
    <div class="links" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item  nav-link active" [routerLink]="['menu']" [replaceUrl]="true" >Menu</a>
          <a class="nav-item  nav-link " [routerLink]="['discounts']"  [replaceUrl]="true" >Discounts</a>
          <a class="nav-item  nav-link " [routerLink]="['sales']"  [replaceUrl]="true">Sales</a>
          <a class="nav-item nav-link" [routerLink]="['details']"  [replaceUrl]="true" >Owner Details</a>
        </div>
    </div>
    <!-- <div class="figures ">
        <span class="text-black">Revenue  </span>
        <span class="border border-dark text-black">Today: &#8377;   </span>
        <span class="border border-dark text-black">Month: &#8377;   </span>
        <span class="border border-dark text-black">Year: &#8377;   </span>
    </div> -->
</ul>

<router-outlet></router-outlet>