<ul class="navbar navbar-expand-lg navbar-light header">
    
    <div class="links" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item  nav-link active" [routerLink]="['menu']" [replaceUrl]="true" >Menu</a>
          <a class="nav-item  nav-link " [routerLink]="['sales']"  [replaceUrl]="true">Sales</a>
          <a class="nav-item nav-link" [routerLink]="['details']"  [replaceUrl]="true" >Owner Details</a>
        </div>
    </div>
    <div class="figures ">
        <span class="text-black">Revenue  </span>
        <span class="border border-dark text-black pad">Today: &#8377; {{dailyRevenue}}  </span>
        <span class="border border-dark text-black pad">Month: &#8377; {{monthlyRevenue}}   </span>
        <span class="border border-dark text-black pad">Year: &#8377; {{yearlyRevenue}}  </span>
    </div>
</ul>


<router-outlet></router-outlet>