
<div class="sidenav">
    <div class="login-logo">
        <img [src]="logoURL" alt="login"/>
    </div>
</div>
<div class="main">
    <h3>Login as Admin</h3>
    <div class="login-form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name = "email" class="form-control" id="email" formControlName = "email" placeholder="Enter Email" >
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id = "password" placeholder="Enter Password" formControlName = "password" >
              </div>
              <br>
             <button type="submit" class="btn login-btn col-sm-12">Click to Login</button>
          </form>
    </div>
</div>