@media screen and (min-width:400px) {
    .sidenav{
        width: 100%;
        margin-top: 0px;
        background-color: black;
    }
    img {
        width: 80%;
        margin-inline: 10%;
    }
}

@media screen and (min-width:900px) {
    
    .sidenav{
        height: 50%;
        width: 50%;
        background-color: black;
        float: left;
        padding-bottom: 20% ;
    }
    .main{
        width: 50%;
        height: auto;
        float: right;
    }
    .login-logo{
        height: 50%;
        width:100%;
    }
    img {
        width: 70%;
        margin-inline: 15%;
    }
    
}
h3{
    text-align: center;
    margin-top: 10%;
    margin-bottom: opx;
}
.login-form{
    width: 60%;
    margin-inline: 20%;
    margin-top: 10%;
    padding-bottom: 20%;
} 
.login-btn{
    background-color: black;
    color: white;
}